{% extends "base.html" %}
{% block content %}
    <section class="course-view">
        {%  verbatim %}
            <script type="text/template" id="course-item-template">
                <div id="item-basic">
                    <a href="<%= course.get('resource_uri') %>"><%= course.get('course_name') %> : <%= course.get('id') %>
                </div>
            </script>
            <script type="text/template" id="course-item-detail-template">
                <div id="item-detail">
                    Problems: <%= course.get('problems').length %>
                    Organizations : <%= course.get('organizations').length %>
                    Users : <%= course.get('users').length %>
                </div>
            </script>
            <script type="text/template" id="course-item-add-template">
                <div id="item-add">
                    <% _.each( key, function( item ){ %>
                        Problems: <input type="text" id="problems"> <%= course.get('problems') %> </input>
                        Organizations :<input type="text" id="organizations"> <%= course.get('organizations') %> </input>
                        Users : <input type="text" id="users"> <%= course.get('users') %> </input>
                        Name: <input type="text" id="name"> <%= course.get('course_name') %> </input>
                    <% }); %>
                </div>
            </script>
        {% endverbatim %}
    </section>
{% endblock %}