{% extends "base.html" %}
{% block content %}
    <section class="course-view">
        {%  verbatim %}
            <script type="text/template" id="course-item-template">
                <div id="item-basic">
                    <a href="#" id="show"><%= course.get('course_name') %> : <%= course.get('id') %> </a>
                </div>
            </script>
            <script type="text/template" id="course-item-detail-template">
                <div id="item-detail">
                    Problems: <%= course.get('problems').length %>
                    Organizations : <%= course.get('organizations').length %>
                    Users : <%= course.get('users').length %>
                </div>
            </script>
            <script type="text/template" id="course-item-add-template">
                <div id="item-add">
                    <% for(key in course){ %>
                        <%= key %>: <textarea rows="3" cols="100" type="text" id="<%= key %>" class="update"><%= course[key] %></textarea><br/>
                    <% }; %>
                    <a href="#" id="update">Update</a>
                </div>
            </script>
        {% endverbatim %}
    </section>
{% endblock %}