numpy==1.6.2
scipy==0.11.0
Django
mimeparse
lxml
pyyaml
uuid
django-tastypie
south
django-celery
celery-with-redis
path.py
fabric
gunicorn
requests
sphinx
django-sphinx-autodoc
dogstatsd-python
boto
django-pipeline